[Unit]
Description=PP BOT admin_bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/actualppbotnooplata
EnvironmentFile=/opt/actualppbotnooplata/admin_bot/.env
ExecStart=/opt/actualppbotnooplata/.venv/bin/python admin_bot/main.py
Restart=always
RestartSec=5

# Security baseline
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target

